.header{
    padding: 80px;
    text-align: center;
    background:rgb(16, 23, 80);
    color:white;
}
.header h1{
    font-size: 50px;
}
.skills{
    margin-left: 30%;
    margin-top: 8%;
    font-size: 20px;
}
.quali{
    margin-left: 30%;
    margin-top: 1%;
    font-size: 20px;
}
.button input{
    text-align: center;
    height: 10%;
    width: 30%;
    outline:none;
    color:#fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background:rgb(82, 68, 186);

}
.button input:hover{
    background-color: rgb(16, 23, 80);
}
